.main-wrapper .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.main-wrapper.trigger:hover {
  color: #1890ff;
}

.main-wrapper .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

.per-hour-table-header > div {
  flex-grow: 1;
  flex-basis: 0;
  font-weight: bold;
  text-align: left;
}
.per-hour-table-body {
  padding: 3px;
}
.per-hour-table-body:nth-child(even) {
  background: #f7f7f7;
}
.per-hour-table-body-elm > div {
  width: 90%;
}
.manage-bookings-details-list > li > div {
  display: block;
}
.manage-bookings-details-list > li > div:first-of-type {
  font-weight: bold;
}
.manage-bookings-details-list > li > div:last-of-type {
  margin-bottom: 20px;
}
.booking-details-amenitites span {
  margin-right: 20px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}